.board {

  height: 50vh;
  width: 50%;
  border: 5px solid black;

}

.board-container {
  /* display: flex; */
  display: grid;
  height: 100%;
  width: 100%;
  grid-auto-rows: 50px;

}

.board-row {
  display: grid;
  /* width: 100%; */
  grid-auto-flow: column;
  grid-auto-columns: 50px
  
}

.cell{
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100%;
  border: 1px solid pink; 
  
}
.cell:hover{
  background-color:pink;
}